:root{
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --dark-color: #2e2f42;
  --success-color: #31d0aa;
  --text-color: #434455;
  --subtle-text-color: #8e8f99;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --modal-overlay-color: #2e2f4266;
  --hero-background-color: #2e2f42b2;
  --white-background-color: #ffffff;
  --modal-background-color: #fcfcfc;
  
  --header1:
font-family: Roboto;
font-weight: Bold;
font-size: 56px;
letter-spacing: 2%;
line-height: 60px;

--header2:
font-family: Roboto;
font-weight: Bold;
font-size: 36px;
letter-spacing: 2%;

--header3:
font-family: Roboto;
font-weight: Medium;
font-size: 20px;
letter-spacing: 2%;

--body:
font-family: Roboto;
font-weight: Regular;
font-size: 16px;
line-height: 24px;
letter-spacing: 2%;

--small:
font-family: Roboto;
font-weight: Regular;
font-size: 12px;
line-height: 14px; 
letter-spacing: 4%;

--medium:
font-family: Roboto;
font-weight: Medium;
font-size: 16px;
line-height: 24px;
letter-spacing: 2%;

--button-text:
font-family: Roboto;
font-weight: Medium;
font-size: 16px;
line-height: 24px;
letter-spacing: 4%;

--link:font-family: Roboto;
font-weight: Regular;
font-size: 12px;
line-height: 16px;
letter-spacing: 4%;
text-decoration: none;
}

h1{
text-align: center;
font-family: Roboto;
font-weight: Bold;
font-size: 56px;
letter-spacing: 2%;
line-height: 60px;
}
h2{
font-family: Roboto;
font-weight: Bold;
font-size: 36px;
letter-spacing: 2%;
}

h3{
font-family: Roboto;
font-weight: Medium;
font-size: 20px;
letter-spacing: 2%;
}
.body{
font-family: "Roboto", sans-serif;
color:#434455;
background-color:#FFFFFF;
font-weight: Regular;
font-size: 16px;
line-height: 24px;
letter-spacing: 2%;
}


.link{
text-decoration: none;
}

.navlink{

}

.navlogo{
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color:var(--primary-brand-color)
}

.logo-studio{
color: var(--dark-color);
font-family: "Raleway",sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 800;
line-height: 21px;
letter-spacing: 0.54px;
text-transform: uppercase;
}

.list{
list-style: none;
}

.filter-button{
background-color: #f4f4fd;
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: 4%;
}

.filter-button:hover,
.filter-button:focus{
background-color: #404bbf;
font-family: Roboto;
font-weight: Medium;
font-size: 16px;
line-height: 24px;
letter-spacing: 4%;
}

.address{
font-style: normal;
}
.footer{
background-color:var(--dark-color) ;
}
.footerspan{
color: #f4f4fd;
}